<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
</head>
<body>
<h1>Log In</h1>
<form action="myreceipts#lr" method="post">
	<label for="phone">Phone (Format: +15553339999): </label>
	<input type="text" name="phone">
	<br>
	<label for="pass">Password: </label>
	<input type="password" name="pass">
	<br>
	<button type="submit">Log In</button>
</form>
</body>
</html>